<!-- <ul>
  <li>
    <a href="google" routerLink="/java" routerLinkActive="active">
      <strong>Java</strong>
    </a>
  </li>
  <li>
    <a routerLink="/javascript" routerLinkActive="active">
      <strong>JavaScript</strong>
    </a>
  </li>
  <li>
    <a routerLink="/database" routerLinkActive="active">
      <strong>Database</strong>
    </a>
  </li>
  <li>
    <a routerLink="/spring" routerLinkActive="active">
      <strong>Spring</strong>
    </a>
  </li>
  <li>
    <a routerLink="/springboot" routerLinkActive="active">
      <strong>Spring Boot</strong>
    </a>
  </li>
</ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/P6nda6XqfaE" frameborder="0" allow="autoplay; encrypted-media"
  allowfullscreen></iframe>
 -->
 <router-outlet></router-outlet>