<ng-container *ngFor="let item of [1];">
	<marquee direction="left" speed="slow" behavior="loop">
		<div *ngIf="showName != '';else other_content">
			<div class="nameStyle">*** {{showName}} - दिपावली की शुभकामनाऐ ***</div>
		</div>
		<ng-template #other_content>other content here...</ng-template>
	</marquee>
	<hr>
	<div class="imgStyle">
		<img [src]="imagePath">
	</div>
	<hr>
</ng-container>
<div class="nameStyle">
	नाम लिखिये :
	<input type="text" [(ngModel)]="name">
	<a [href]="whatsAppUrl">
		<div>
			WhatsApp पे शेअर किजिये :
		</div>
		<div>
			<img (click)="updateName()" [src]="whatsAppImagePath" class="whatsappImgStyle">
		</div>
	</a>
</div>