<p>Some of the important Java 8 features are;</p>
<ol>
<li><a href="#iterable-forEach">forEach() method in Iterable interface</a></li>
<li><a href="#interface-default-static-method">default and static methods in Interfaces</a></li>
<li><a href="#functional-interface-lambdas">Functional Interfaces and Lambda Expressions</a></li>
<li><a href="#java-stream-api">Java Stream API for Bulk Data Operations on Collections</a></li>
<li><a href="#java8-time">Java Time API</a></li>
<li><a href="#java8-collection">Collection API improvements</a></li>
<li><a href="#java8-concurrency">Concurrency API improvements</a></li>
<li><a href="#java8-io">Java IO improvements</a></li>
<li><a href="#java8-core">Miscellaneous Core API improvements</a></li>
</ol>
